
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #1b2540;

    /* main text color */
    color: #4ea1f6;
}

