@import './base.css';

.btn {
    all: unset;
    padding: 5px 10px;
    border-radius: 2px;
}

.btn-danger {
    background-color: rgb(255, 89, 89);
    color: white;
}

.btn-success {
    background-color: rgb(136, 197, 45);
    color: white;
}

.quick-actions {
    position: absolute;
    bottom: 30px;
    right: 30px;

    button {
        all: unset;
        padding: 5px 15px;
        border-radius: 5px;
        border: 2px solid #4ea1f6;
        background-color: #4ea1f6;
        color: white;
        font-size: 1.5rem;
    }
}